body {
    /* background: url("../images/background.jpg") no-repeat 50% fixed / cover; */
    background-color: black;
}

.gif {
    width: 100px;
    height: 100px;
    animation: animateIMG 3s linear 0s forwards;
}

#falling-imgs {
    z-index: -5;
    position: absolute;
    top: 0;
    left: 25%;
    width: 50%;
    height: 100%;
    background-image: linear-gradient(rgb(176, 246, 255), black);
    /* background-color: rgb(189, 189, 189); */
    /* background-image: url("../images/background.gif"); */
}

#content {
    z-index: 10;
    font-family: 'Baloo Thambi', cursive;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 10px groove rgb(48, 48, 48);
    text-align: center;
    margin: 10% auto;
}

#win {
    color: olive;
}

#loss {
    color: darkred;
}

#draw {
    color: darkcyan;
}

button {
    font-family: 'Freckle Face', cursive;
    font-size: 20px;
    margin: 5px;
    border-radius: 25%;
}

button:hover {
    color: rgb(116, 87, 13);
}

#content-menu {
    text-decoration: underline;
}

#title {
    font-family: 'Bowlby One SC', cursive;
}

#score-solo {
    margin-top: 15px;
    display: block;
    text-align: center;
    font-size: 20px;
}

#buttons-solo {
    display: block;
    text-align: center;
    padding: auto;
}

#content-entry {
    font-family: 'Baloo Thambi', cursive;
}

#rematch-online {
    display: none;
}

.rps-btn {
    background-color: white;
    border: 5px ridge darkgrey;
}

.rps-btn:hover {
animation: animateColor 4s linear 0s infinite alternate; 
-o-animation: animateColor 4s linear 0s infinite alternate;
-moz-animation: animateColor 4s linear 0s infinite alternate;
-webkit-animation: animateColor 4s linear 0s infinite alternate;
}

.play-btn {
border: 5px ridge darkred;
}

.play-btn:hover {
border-color: darkgreen;
animation: animateBorderColor 2s linear 0s infinite alternate; 
-o-animation: animateBorderColor 2s linear 0s infinite alternate;
-moz-animation: animateBorderColor 2s linear 0s infinite alternate;
-webkit-animation: animateBorderColor 2s linear 0s infinite alternate;
}

/* ------------------------------- */
/*      ".rps-btn" Animations      */
/* ------------------------------- */

@keyframes animateColor {
    0%   {background-color: lightgoldenrodyellow}
    25%  {background-color: lightgreen}
    50%  {background-color: lightblue}
    100% {background-color: lightslategray}
}

@-o-keyframes animateColor {
    0%   {background-color: lightgoldenrodyellow}
    25%  {background-color: lightgreen}
    50%  {background-color: lightblue}
    100% {background-color: lightslategray}
}

@-moz-keyframes animateColor {
    0%   {background-color: lightgoldenrodyellow}
    25%  {background-color: lightgreen}
    50%  {background-color: lightblue}
    100% {background-color: lightslategray}
}

@-webkit-keyframes animateColor {
    0%   {background-color: lightgoldenrodyellow}
    25%  {background-color: lightgreen}
    50%  {background-color: lightblue}
    100% {background-color: lightslategray}
}

/* ------------------------------- */
/*      ".play-btn" Animations     */
/* ------------------------------- */

@keyframes animateBorderColor {
    from {border-color: darkgreen;}
    to {border-color: lightgreen;}
}

@-o-keyframes animateBorderColor {
    from {border-color: darkgreen;}
    to {border-color: lightgreen;}
}

@-moz-keyframes animateBorderColor {
    from {border-color: darkgreen;}
    to {border-color: lightgreen;}
}

@-webkit-keyframes animateBorderColor {
    from {border-color: darkgreen;}
    to {border-color: lightgreen;}
}

/* ------------------------------- */
/*         img Animations          */
/* ------------------------------- */

@keyframes animateIMG {
    from {top: -150px; transform: rotate(0deg);}
    to {top: 100%; transform: rotate(540deg);}
}